* {
    font-family: "Lato", sans-serif;
    color: gray;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

article h4 {
	margin-bottom: 5px;
    margin-top: 5px;
}

img {
    min-width: 100px;
}

article {
    padding-bottom: 30px;
}

.title-text {
    text-align: right;
}

.logo {
    text-align: center;
}


@media screen and (max-width: 767px) {
    .title-text {
        text-align: center;
    }
}
