* {
    font-family: 'Lato', sans-serif;
    color: gray;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: 10px auto;
}

article h4 {
	margin-bottom: 5px;
    margin-top: 5px;
}

img {
    min-width: 100px;
}

header {
    text-align: right;
}

article {
    text-align: center;
    padding-bottom: 30px;
}

article img {
    object-fit: cover;
    height: 200px;
    width: 300px;
}

.title_text {
    text-align: right;
}

.title_icon {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

